server:
  port: 8088

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/wb_demo
        username: root
        password: o123

        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20

    redis:
        host: 172.16.35.13
        port: 6379
        password: RJ5o5RTZmpl6sZ7U6w39WAvM7Scl7nGvr5mS4MRRIDaoAZpw7sPjmBHz2HwvAPYGCekcIVk8Xzc3p31v79fWeL
        database: 0
        pool:
           max-active: 8
           max-wait: -1
           max-idle: 500
           min-idle: 0
        timeout: 0


mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.example.demo.model


pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql



